.form {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: darkgray;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4), 0 8px 10px rgba(0, 0, 0, 0.3);
}
.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: white;
}
.input {
  width: 200px;
  border-radius: 2px;
  border: none;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
.add-btn {
  padding: 10px;
  min-width: 80px;
  border-radius: 5px;
  border: none;
  background-color: black;
  text-transform: uppercase;
  color: white;
  transition: scale 0.1s ease-in-out;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}

.add-btn:is(:hover, :focus) {
  scale: 1.05;
}
